/* Media Queries

320px 	= 20em
480px 	= 30em
768px 	= 48em
1024px 	= 64em

-------------------

1008px 	= 63em
1000px 	= 62.5em


 */

@media only screen  and (max-width : 37em) {

	nav, nav ul, .nav-fixed { display: none; }
		.arrow {display: block;}
	.work__img {max-width: 28em; max-height: 19.3em; } 
	.logo h1+h2 { font-size: 2em;}
	

}



@media only screen  and (max-width : 60em) {

	article, nav {  max-width: 42em;}
	.aboutme { width: 35em; }
	.me { width: 13em; height:13em; }
	nav ul { width: 80%; }


}

