@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300);
@import url(http://fonts.googleapis.com/css?family=Bree+Serif);



@font-face {
	font-family: 'Conv_Gotham-Book';
  	src: 	url(font/Gotham-Book.eot);
	src: 	url(font/Gotham-Book.woff) format('woff'), 
			url(font/Gotham-Book.ttf) format('truetype'), 
			url(font/Gotham-Book.svg) format('svg');
	font-weight: normal;
	font-style: normal;
	}

* {-webkit-box-sizing: border-box;
     -moz-box-sizing: 	border-box;
          box-sizing: 	border-box;
      }

body {
	background: #5A5099;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
	font-size: 16px;
	/*font-family:'Conv_Gotham-Book',Sans-Serif;*/
	font-family: 'Roboto Slab', serif;
	color: #909FA7;
	
	}

p{
	color: #4E4E4E;
	font-weight: 300;
	font-size: 1.1em;
	line-height: 1.8em;
}

section,
header {
	display: block; 
	/*border: 1px solid yellow; */
	width: 100%;
	}
header {
	background: url(../img/purpe_bg_pam.jpg) center fixed #5A5099;
	height: 37em;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
}

article,
nav.menu {
	display: block; 
	/*border: 1px solid yellow; */
	width: 100%;
	margin: auto;
	max-width: 63em;
}

h2.title {
	text-transform: uppercase;
	font-size: 2.5em;
	display: block;
	width: 100%;
	height: 3em;
	line-height: 3em;
	/*border-bottom: 1px solid #898382;*/
	text-align: center;
	font-weight: 300;
	position: relative;
	}

.flex {
	display: -webkit-flex;
	display: -webkit-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	
	-webkit-flex-flow: row wrap;
	-webkit-justify-content:space-around;
			Justify-content: space-around;

	-webkit-align-items: center;
			align-items: center;
	}


nav.menu {
	height: 4em;
	border-bottom: 1px solid #fff;

}

.aboutme {
	width: 42em;
	padding: 2em;

}

.me {
	width: 16em;
	height:16em;
	border-radius: 50%;
	background: #5A5099;
	margin-bottom: 2.5em;
	overflow: hidden;
	background: url(../img/me_.jpg) no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
}

	.menu ul {
		margin: auto;
		width: 60%;
		height: 4em;
		display: -webkit-flex;
		display: -webkit-box;
		display: -moz-flex;
		display: -ms-flexbox;
		display: flex;

		-webkit-flex-flow: row nowrap;
		-webkit-justify-content:space-around;
		-webkit-align-items: center;
	}
	.menu li {
		padding: 0.5em;
	}
	.menu li a {
		text-decoration: none;
		color: #fff;
		text-transform: uppercase;
		font-size: 0.8em;
		font-family:'Conv_Gotham-Book',Sans-Serif;

	}

/* Logo ///////////// */

.logo {	width: 100%; max-width: 63em; margin: auto;}

.logo h1{
	font-size: 7em;
	font-family:'Conv_Gotham-Book',Sans-Serif;
	color: #fff;
	margin-top: 1.2em;
	display: block;
	text-align: center;
	font-weight: normal;

	}

	.logo h1+h2{
		padding-top: 0.5em;
		font-size: 3em;
		font-family:'Conv_Gotham-Book',Sans-Serif;
		/*font-family: 'Josefin Slab', serif;*/
		display: block;
		text-align: center;
		color: #fff;
		}



.color--white {
	background: #fff;
	min-height: 12.5em;
}


.color--pink {
	background: #D84B5B;
	min-height: 12.5em;
	color: #fff;

}

.color--sky {
	background: #D8D8D8;
	min-height: 12.5em;
	
}

.work, .skill {
	display: -webkit-flex;
	display: -webkit-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;

	-webkit-flex-flow: row wrap;
	-webkit-justify-content:space-around;
	-webkit-align-items: center;
	padding-bottom: 2em;
}
.work__img {
	width: 21em;
	height: 14.5em;
	/*border: 1px solid yellow;*/
	overflow: hidden;
	position: relative;
	background: #333;
}

.work__img img {
	width: 100%;
	margin: auto;
}

.skills--options {
	 width:0;
     height:0;
     border-right: 80px solid #5cb85c ;
     border-top: 80px solid transparent;
     border-left: 80px solid #5cb85c;
     border-bottom: 80px solid #5cb85c;
     -moz-border-radius: 100%;
     -webkit-border-radius: 100%;
     border-radius: 100%;
	
}
/*
#5A5099 violeta azulado
#78375F purputa
#D84B5B rosado*/



/*principio */

.List {
  display: -webkit-flex;
		display: -webkit-box;
		display: -moz-flex;
		display: -ms-flexbox;
		display: flex;

		-webkit-flex-flow: row wrap;
		-webkit-justify-content:space-around;
  list-style: none;
  margin: 10px auto;
  padding: 0px;
  width: 100%;
  height: auto;
  font-weight: 300;
}


.List-item {
	position: relative;
	display: block;
  	width: 10em;
  	min-height: 13em;
 	/*border: 1px solid red;*/
}

.List-skill-text {
	display: block;
	position: relative;
	text-align: center;
	left: 0;
	top: 9em;
}
	
.List-skill-text h3 {
	font-size: 1.2em;
}
	


.ProgressBar,
.ProgressBar-contentCircle {
  display: table;
  height: 8em;
  position: absolute;
  left: .5em;
  width: 8em;
}

.ProgressBar-circle,
.ProgressBar-background {
  fill: none;
  stroke: #fff;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-dasharray: 0;
  stroke-dashoffset: 0;
  position: relative;
  z-index: 10;
}

.ProgressBar-background {
  stroke: rgba(255,255,255,0.6);
  stroke-width: 3;
  z-index: 0;
}

.ProgressBar-percentage {
  color: #fff;
  font-size: 2em;
  padding-left: 0.5em;
  text-align: center;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}

/************************/
/* structure de la page */
/************************/

