/*@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300);*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,700);


@font-face {
	font-family: 'Conv_Gotham-Book';
	src: 	url(font/Gotham-Book.eot);
	src: 	url(font/Gotham-Book.woff) format('woff'), 
	url(font/Gotham-Book.ttf) format('truetype'), 
	url(font/Gotham-Book.svg) format('svg');
	font-weight: normal;
	font-style: normal;
}

* {-webkit-box-sizing: border-box;
	-moz-box-sizing: 	border-box;
	box-sizing: 	border-box;
}

body {
	background: #5A5099;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
	font-size: 16px;
	/*font-family:'Conv_Gotham-Book',Sans-Serif;*/
	font-family: 'Roboto', sans-serif;
	color: #4E4E4E;
	
}

p{
	color: #4E4E4E;
	font-weight: 300;
	font-size: 1em;
	line-height: 1.8em;
	padding-top: 1em;
}
p:first-child {padding-top: 0;}
section{ padding-top: 4em;}

section,
header {
	display: block; 
	/*border: 1px solid yellow; */
	width: 100%;
}

header {
	background: url(../img/bg_img.jpg) center fixed #5A5099;
	height: 37em;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
}

footer {
	overflow: hidden;
	background: url(../img/bg_img.jpg) center fixed #5A5099;
	height: 14em;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
}


article,
nav {
	display: block; 
	/*border: 1px solid yellow; */
	width: 100%;
	margin: auto;
	max-width: 63em;
}


h2.title {

	font-size: 2.5em;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	display: block;
	width: 100%;
	font-weight: 700;
	height: 2em;
	line-height: 2em;
	text-align: center;
	position: relative;
}

hr {
	width: 30px;
	border: 0;
	margin-top: -10px;
	margin-bottom: 1em;
	border-top: 5px solid #4E4E4E;
}


.button {
	color: #fff;
	margin: 2em auto;
	display: block;
	width: 15em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	background: #1DB69A;
	padding: 1em 2em;
	border-radius: 1.5em;
	border: 1px solid #1DB69A;
	
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-ms-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}

.button:hover {
	background: none;
	border: 1px solid #fff;
}

.line-white {border-top: 5px solid #fff;}
.line-dark {border-top: 5px solid #fff;}

.flex {
	display: -webkit-flex;
	display: -webkit-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	
	-webkit-flex-flow: row wrap;
	-webkit-justify-content:space-around;
	Justify-content: space-around;

	-webkit-align-items: center;
	align-items: center;
}


.aboutme {
	width: 50em;
	margin: 2em 0;
	padding: 0 0  0 2.5em;

}

.me {
	width: 13em;
	height:13em;
	border-radius: 50%;
	background: #5A5099;
	margin: 2em 0;
	overflow: hidden;
	background: url(../img/me_.jpg) no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
}

/* MENU ---------------------- */

nav {
	height: 4em;
	border-bottom: 1px solid #fff;
	-webkit-transition: all 0.5s;

}
nav ul, .nav-fixed ul {
	margin: auto;
	width: 60%;
	height: 4em;
	display: -webkit-flex;
	display: -webkit-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;

	-webkit-flex-flow: row nowrap;
	-webkit-justify-content:space-around;
	-webkit-align-items: center;

}
nav li, .nav-fixed li {
	padding: 0.5em;
	/*border: 1px solid red;*/

}
nav li a {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 0.8em;
	font-weight: 400;
	position: relative;
	display: block;

}

nav li.active {
	background: #f6f6f6;
}

.nav-fixed  { 
	max-width: 100%;
	position: fixed;  
	height: 4em; 
	background: rgba(241, 241, 241, 0.8);  
	z-index: 1;
}

.nav-fixed li a {
	text-decoration: none;
	color: #5A5099;
	text-transform: uppercase;
	font-size: 0.8em;
	position: relative;

}

/* Logo ///////////// */



.logo {	width: 100%; max-width: 63em; margin: auto;}

.logo h1{
	font-size: 7em;
	color: #fff;
	padding-top: 1.2em;
	display: block;
	text-align: center;
	font-weight: 700;

}

.logo h1+h2{
	font-size: 3em;
	display: block;
	text-align: center;
	font-weight: 100;
	color: #fff;
}



.color--white {
	background: #fff;
	min-height: 12.5em;
}

.text--white {
	color: #fff;
}

.text--white p {
	color: #fff;
	text-align: center;
}

.color--green {
	background: #1db69a;
	min-height: 12.5em;

}

.color--pink {
	min-height: 12.5em;
	background: #f92552;
}

.color--violet {
	min-height: 12.5em;
	background: #381d52 ;
}

.color--grey {
	background: #10141B; /*#f1f1f1 gris claro*/
	min-height: 12.5em;
	
}

.work, .skill {
	display: -webkit-flex;
	display: -webkit-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;

	-webkit-flex-flow: row wrap;
	-webkit-justify-content:space-around;
	-webkit-align-items: center;
	padding-bottom: 2em;
}
.skills {
	width: 100%;
	min-height: 300px;
	background: #fff;
	margin:  0.5em;
}
.work__img {

	width: 21em;
	height: 14.5em;
	/*border: 1px solid yellow;*/
	overflow: hidden;
	cursor: pointer;
	position: relative;
}

.work__img img {
	position: absolute;
	width: 100%;
	margin: auto;
	left: 0;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;	
	transition: all 300ms ease-out;
}

/* Caption para trabajos */

.caption {
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	color: #fff;
	z-index: 100;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;	
	transition: all 300ms ease-out;
	left: 0;
}


/** Caption: Fade **/
.fade-caption {
	opacity: 0;
	width: 21em;
	height: 14.5em;
	text-align: left;
	padding: 15px;
}
.fade-caption h3 {
	font-size: 1.3em;
	padding-top: 1em;
}
.fade-caption p {
	color: #fff;
	font-size: 0.9em;
}


/** Full Caption :hover Comportamiento  **/

.work__img:hover .full-caption {
	-moz-transform: translateY(100%);
	-o-transform: translateY(100%);
	-webkit-transform: translateY(100%);
	opacity: 1;
	transform: translateY(100%);
}

.work__img:hover .fade-caption  {
	opacity: 1;
}
/* fin caption para trabajos */


.contact{
	color: #fff;
	max-width: 31em;
	margin: auto;
	padding-bottom: 6em;
}

/* contenido en habilidades  */

/*
.List {
	display: -webkit-flex;
	display: -webkit-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;

	-webkit-flex-flow: row wrap;
	-webkit-justify-content:space-around;
	list-style: none;
	margin: 10px auto;
	padding: 0px;
	width: 100%;
	height: auto;
	font-weight: 300;
}


.List-item {
	position: relative;
	display: block;
	width: 10em;
	min-height: 13em;
}
*/

.List {
	display: -webkit-flex;
	display: -webkit-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row wrap;
	-webkit-justify-content:space-around;
	list-style: none;
	margin: 5px auto;
	padding: 0px;
	width: 100%;
	max-width: 63em;
	height: auto;
	font-weight: 100;
}


.List-item {
	position: relative;
	display: block;
	width: 21em;
	min-height: 16em;
	padding: 1.3em 0;
	cursor: pointer;
/*	border: 1px solid #fff;*/
	border-radius: 5px;

	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-ms-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}

.List-item:hover {
		background: rgba(0,0,0,0.4);
		border-radius: 5px;
}


.List-item h1 {

	font-size: 1.5em;
	letter-spacing: 1px;
	font-weight: 700;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	display: block;
	width: 100%;
	height: 2em;
	line-height: 2em;
	text-align: center;
	position: relative;
}

.List-item img { width: 80%; display: block; margin: auto;}

.List-item p {
	font-size: 0.9em;
	padding: 0 2em;
}
.detalle {
			margin: 1em 2em;
}

.detalle li {
	font-weight: 400;
	text-decoration: none;
	text-align: center;
	display: block;
	height: 2.3em;
	line-height: 2.3em;
	border-bottom: 1px dotted #fff;

	}

/*******/

.List-item-text {
	display: block;
	position: relative;
	text-align: center;
	left: 0;
	top: 9em;
}

.List-item-text h3 {
	font-size: 1.2em;
}



/* PROGRESS BAR */


.ProgressBar,
.ProgressBar-contentCircle {
	display: table;
	height: 8em;
	position: absolute;
	left: .5em;
	width: 8em;
}

.ProgressBar-circle,
.ProgressBar-background {
	fill: none;
	stroke: #fff;
	stroke-width: 10;
	stroke-linecap: round;
	stroke-dasharray: 0;
	stroke-dashoffset: 0;
	position: relative;
	z-index: 10;
}

.ProgressBar-background {
	stroke: rgba(255,255,255,0.6);
	stroke-width: 5;
	z-index: 0;
}

.ProgressBar-percentage {
	color: #fff;
	font-size: 2em;
	padding-left: 0.5em;
	text-align: center;
	width: 100%;
	display: table-cell;
	vertical-align: middle;
}

/***************************/
/* Icon Moon Seleccionados */
/***************************/
.social {
	width: 15em;
	margin: auto;
}


.arrow {
	width: 4em;
	margin: auto;
	padding: 2em 0;
	/*border: 1px solid #333;*/
	display: none;
} 
.arrow a {
	color: rgba(0,0,0,0.4) !important;

}


@font-face {
	font-family: 'icomoon';
	src:url('icomoon/fonts/icomoon.eot?peu3ju');
	src:url('icomoon/fonts/icomoon.eot?#iefixpeu3ju') format('embedded-opentype'),
	url('icomoon/fonts/icomoon.ttf?peu3ju') format('truetype'),
	url('icomoon/fonts/icomoon.woff?peu3ju') format('woff'),
	url('icomoon/fonts/icomoon.svg?peu3ju#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 3em;
	color: #fff;
	text-decoration: none;
	display: inline-block;
	padding: 0 0.3em;
	margin: auto;
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-ms-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-linkedin-with-circle:hover:before,
.icon-linkedin-with-circle:hover:before,
.icon-facebook3:hover:before,
.icon-twitter3:hover:before,
.icon-github:hover:before {
	color: #1db69a;
}

.icon-chevron-thin-down:before {
	content: "\e601";
}
.icon-chevron-thin-up:before {
	content: "\e602"; 
}
.icon-linkedin-with-circle:before,
.icon-facebook3:before,
.icon-twitter3:before,
.icon-github:before {
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-ms-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}

.icon-linkedin-with-circle:before {
	content: "\e600";
}
.icon-facebook3:before {
	content: "\e604";
}
.icon-twitter3:before {
	content: "\e605";
}
.icon-github:before {
	content: "\e603";
}

